<a class="button" [routerLink]="['/home']">
  <div class="button-box">
    <span class="button-elem">
      <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
      </svg>
    </span>
    <!-- <span class="button-elem">
      <svg viewBox="0 0 46 40">
        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
      </svg> -->
    <!-- </span> -->
  </div>
</a>

<div class="resultado-container">
    <h2 class="titulo-resultados">Resultados del Juego</h2>
    <table class="tabla-resultados">
      <thead>
        <tr>
          <th class="encabezado">Usuario</th>
          <th class="encabezado">Juego</th>
          <th class="encabezado">Puntos</th>
          <th class="encabezado">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultados" class="resultado-item">
          <td class="usuario">{{ resultado.usuario }}</td>
          <td class="juego">{{ resultado.juego }}</td>
          <td class="puntaje">{{ resultado.puntaje }}</td>
          <td class="fecha">{{ resultado.fecha | date: ' dd/MM/yyyy HH:mm:ss'  }}</td> <!-- Aplicación correcta del pipe -->
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  