<div class="chat-toggle" (click)="toggleChat()" *ngIf="isChatHidden">💬 Chat</div>

<div class="chat-card" *ngIf="!isChatHidden">
    <div class="chat-header" (click)="toggleChat()">
        <div class="h2">Chat</div>
        <button class="close-button" (click)="toggleChat()">✖️</button>
    </div>
    <div class="chat-body" #chatBody>
        <div *ngFor="let item of mensajesBD">
            <div class="message incoming" *ngIf="auth.getUserEmail() !== item.emisor">
                <p class="emisor">{{item.emisor}} -- {{item.fecha}}</p>
                <p class="mensajeEntrante">{{item.texto}}</p>
            </div>
            <div class="message outgoing" *ngIf="auth.getUserEmail() === item.emisor">
                <p class="fecha">{{ item.fecha }}</p>
                <p class="mensaje">{{item.texto}}</p>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <input placeholder="Escribe tu mensaje..." type="text" [(ngModel)]="mensajeNuevo">
        <button (click)="EnviarMensaje()">Enviar</button>
    </div>
</div>

  
  
  
  
  
  
  
