<body>
   <div class="quien-soy-container">
    <h1>Sobre mí</h1>
    
    <div class="profile-section">
      <div class="profile-info">
        <h2>Gustavo Leiva</h2>
        <p>Me dedico a la programación hace más de 2 años. He realizado diversos proyectos en diferentes lenguajes y tecnologías, como C, C#, JS, PHP, HTML, CSS. Actualmente, estoy cursando el último cuatrimestre de mi carrera y trabajando con tecnologías web como Angular en la materia Laboratorio IV.</p>
      </div>
      
      <div class="profile-image">
        <img src="assets/imagenes/foto.jpg" alt="Mi foto" class="foto-perfil">
      </div>
    </div>
    
    <div class="game-description">
      <h2>Explicación del Juego Propio</h2>
      <p>
        El juego que he desarrollado es [nombre del juego]. En este juego, el objetivo es [descripción breve del objetivo del juego]. 
        He trabajado en su desarrollo utilizando [tecnologías/idiomas utilizados]. 
        A lo largo de este proyecto, he aprendido [lecciones/experiencias destacadas].
      </p>
    </div>
  </div>
</body>



  
