body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-box:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al hacer hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-elem {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 12px;
  transform: rotate(180deg);
  fill: #ffffff;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.button-elem:hover {
  fill: #00bcd4;
  transform: rotate(180deg) scale(1.1);
}


.quien-soy-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  font-size: 36px;
  margin-bottom: 30px;
}

.profile-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.profile-info {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}

.profile-info h2 {
  color: #2980b9;
  font-size: 28px;
}

.profile-info p {
  color: #34495e;
  font-size: 18px;
  line-height: 1.6;
}

.profile-image {
  flex: 1;
  text-align: center;
}

.profile-image img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-description {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
}

.game-description h2 {
  color: #2c3e50;
  font-size: 24px;
}

.game-description p {
  color: #7f8c8d;
  font-size: 18px;
  line-height: 1.6;
}

strong {
  color: #2980b9;
}

