<div class="quien-soy-container">
    <h1>¿Quién Soy?</h1>
    
    <div class="personal-info">
      <h2>Datos Personales</h2>
      <ul>
        <li><strong>Nombre:</strong> Mi nombre</li>
        <li><strong>Edad:</strong> Mi edad</li>
        <li><strong>Email:</strong> Mi email</li>
        
      </ul>
    </div>
  
    <div class="profile-image">
      <h2>Mi Imagen</h2>
      <!-- <img src="../../../assets/imagenes/foto.jpg" alt="Mi foto" class="foto-perfil" width="150">
        -->
        <img src="assets/imagenes/foto.jpg" alt="Mi foto" class="foto-perfil" width="150">
    </div>
  
    <div class="game-description">
      <h2>Explicación del Juego Propio</h2>
      <p>
        El juego que he desarrollado es [xxxxxxxxx]. En este juego, el objetivo es...
        <!-- Aca explico el desarrollo del juego no es obligatorio para el primer string -->
      </p>
    </div>
  </div>
  
