.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-box:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al hacer hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-elem {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 12px;
  transform: rotate(180deg);
  fill: #ffffff;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.button-elem:hover {
  fill: #00bcd4;
  transform: rotate(180deg) scale(1.1);
}



.fondo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Altura completa de la pantalla */
  background-color: #f0f4f8; /* Fondo claro y moderno */
}

.thirteen h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333; /* Texto oscuro */
}

div.puntaje {
  font-size: 1.5rem;
  color: #444; /* Texto puntaje */
  margin-bottom: 20px;
}

.cartas {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre las cartas */
  margin-bottom: 30px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre botones */
  margin-bottom: 20px;
}

.btn {
  padding: 12px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff; /* Botón con color azul */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Color más oscuro en hover */
}

.reiniciar {
  background-color: #28a745; /* Color verde para el botón de reiniciar */
}

.reiniciar:hover {
  background-color: #218838; /* Hover más oscuro */
}

.resultado p {
  font-size: 1.8rem;
  color: #ff3333; /* Texto para mostrar el resultado */
  margin-bottom: 20px;
}

.intentos {
  font-size: 1.5rem; /* Tamaño de fuente */
  color: #333; /* Color de texto */
  margin-bottom: 20px; /* Espacio debajo */
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Texto en negrita */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  padding: 10px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}




